<h3 class="my-5">
    Contact Us
</h3>

<section class="row gx-5">
    <img src="~/Images/contact/contact.jpg" alt="Contact" class="img-fluid col-5"/>
    <section class="col-7">
        <h1>
            We'd love to hear from you &lt;3
        </h1>
        <h5>
            Please contact us by sending an email using the button below
        </h5>
        <email address="m.d.rezaei.official@@gmail.com" content="m_d_rezaei Email" class="btn btn-secondary"></email>
        @*
            اون کلمه ادرس همون پراپرتی ادرس هستش که مقدارش رو دادیم به اتربیوت اچ رف و اچرف شده ادرس هم نام پراپرتی
            نه فقط مقدار پراپرتی ادرس برای اچ رف ست شده بلکه اسم اچ رف هم به پراپرتی ادرس تعغیر کرده
            البته که ما برای اچ رف نه فقط مقدار پراپرتی رو ست کردیم بلکه 
            یک مقدار با تایپ استرینگ رو هم اضافی براش ست کردیم ولی فقط اسم پراپرتی رو میگیرد
            دقیقا همین اتفاق هم نام شدن با پراپرتی برای کانتنت هم افتاده
            که مه تنها مقدارش برای کانتنت ست شده اسم پراپرتی هم برای کانتنت ست شده
            اگه اسمش کانتن بود هم ما اینجا شاهد کانتن بودیم

            چرا دوتا ات ساین گذاشتیم؟ چون یک دونه ات ساین باعث میشه با کد ریزور اشتباه گرفته بشه

            این کد تگ هلپر بعد از اجرا و ساخته شدن صفحه اچ تی ام ال به شکل
            <a class="btn btn-secondary" href="mailto:m.d.rezaei.official@gmail.com">m_d_rezaei Email</a>
            که پس نشون میده تگ هلپر کد سی شارپ هست که باعث ساخته شدن کد ها و تگ های اچ تی ام ال میشود
        *@
    </section>
</section>
